@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
:root{
    color-scheme: dark;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,*::before,*::after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.logo{
    color: red;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    cursor: pointer;
}

.container{
    display: flex;
}

header{
    background:  rgb(245, 243, 243);
}

header .container{
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

ul{
    display: flex;
    list-style-type: none;
}

ul li{
margin-left: 20px;
}

ul li a{
    text-decoration: none;
    color: #121212;
}

.login{
    font-weight: bold;
}

.line{
    height: 1px;
    background-color: #ccc;
    border: none;
}

.heading .container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

.design_it_now{
    text-align: center;
    border: 1px solid  #ccc;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    width: 185px;
}

.my_closet{
    border: 1px solid  #ccc;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
}

.cart{
    border: 1px solid  #ccc;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    display: flex;
}

.counter{
    background: red;
    color: #fff;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    text-align: center;
    margin-left: 1px;
}
.items .container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.items .container .item{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 120px;
}

.items .container .item .circle-image {
    border-radius: 100%;
    background-color: rgb(206, 199, 199);
    height: 22px;
    width: 22px;
    margin-right: 10px;
}

.boxes .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.boxes .container .outlinebox{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.boxes .container .outlinebox .box{
    position: relative;
    border: none;
    width: 194px;
    height: 194px;
    border-radius: 14px;
    background-color: rgb(245, 243, 243);
    align-items: center;
    margin-top: 2px;
    margin-left: 2px;
    transition: .2s;
}

.boxes .container .outlinebox .box:hover{
    transform: scale(1.08);
    box-shadow: 0 1px 4px #575656;
}

.label{
    position: absolute;
    right: 23%;
    bottom: 10%;
    background: #fff;
    padding: 10px;
    width: 99px;
    padding: 0px;
    border-radius: 25px;
    border: 1px solid #ccc;
    text-align: center;
}

.arrow{
    background: rgb(226, 224, 224);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    
}

.arrow:hover{
    background: #ccc;
}

.down{
    background: rgb(226, 224, 224);
    height: 27px;
    width: 27px;
    border-radius: 100%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: bolder; 
    cursor: pointer;
}

.down:hover{
    background: #ccc;
}

.buy_from_the_best{
    text-align: center;
    border: 1px solid  #ccc;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    width: 185px;
    align-items: center;
    margin-left: 37%;
}

.discover_design{
    text-align: center;
    border: 1px solid  #ccc;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    width: 185px;
    align-items: center;
    margin-left: 37%;
}

.to-top{
    background: rgb(226, 224, 224);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.to-top.active:hover{
    background: #ccc;
}

@media (max-width:768px) {
    .boxes .container{
        overflow: auto;
        white-space: nowrap;
    }


.boxes .container .outlinebox .box:hover{
    transform: scale(1.02);
}

.items .container .item{
    margin: 17px;
}

.boxes .container .outlinebox{
    width: 207px;
    height: 207px;
}

header .container{
    overflow: auto;
    white-space: nowrap;
    padding: 15px;
}

.items .container{
    overflow: auto;
    white-space: nowrap;
}
} 


/* .boxes:hover .container .arrow{
    display: block;
    background: #ccc;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
} */